*{
  box-sizing: border-box;
  margin: 0;
}


@font-face {
  font-family: 'Astaroth';
  src: url('./fonts/astaroth/astaroth.eot'); /* IE9 Compat Modes */
  src: url('./fonts/astaroth/astaroth.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/astaroth/astaroth.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/astaroth/astaroth.woff') format('woff'), /* Pretty Modern Browsers */
       url('./fonts/astaroth/astaroth.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./fonts/astaroth/astaroth.svg#svgFontName') format('svg'); /* Legacy iOS */

}

@font-face {
  font-family: 'Backslash';
  src: url('./fonts/backslash/Backslash.eot'); /* IE9 Compat Modes */
  src: url('./fonts/backslash/Backslash.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/backslash/Backslash.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/backslash/Backslash.woff') format('woff'), /* Pretty Modern Browsers */
       url('./fonts/backslash/Backslash.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./fonts/backslash/Backslash.svg#svgFontName') format('svg'); /* Legacy iOS */

}

:root{
  --base-text-size: 18px;
  --placeholder-text-size: 28px;
  --contact-info-text-size: 22px;
}


html { 
  background: url('https://res.cloudinary.com/diujqlncs/image/upload/v1614124762/cthulhu_jchsmb.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(105, 78, 122); */
  width: 100vw;
  height: 100vh;
  max-height: 100%;
}

a {
  color: inherit;
}

.App{
  min-width: 90%;
  max-width: 90%;
  /* max-height: 90%; */
  min-height: 80%;
  max-height: 80%;
  /* background-color: rgba(191, 80, 90, 0.5); */
  
  color: rgb(243, 243, 243);
  font-size: var(--base-text-size);
  font-family: 'Backslash', 'Times New Roman', Times, serif;
}

.ui-container{
  background: url('https://res.cloudinary.com/diujqlncs/image/upload/v1614125446/cthulhu_orange_ldvi1b.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 15px;
}

.title{
  margin: 20px;
  font-family: 'Astaroth', Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 2px;
  font-size: 50px;
}

.description{
  margin: 10px;
}

.contact-info{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Astaroth', Georgia, 'Times New Roman', Times, serif;
  font-size: var(--contact-info-text-size);
}

label{
  margin-left: 10px;
}

.search-form-container{
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* background-color: rosybrown; */
}

.books{
  min-width: 100%;
  max-height: 40%;
  /* background-color: red; */
  overflow-y: scroll;
}

.booklist{
  min-width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  /* background-color: royalblue; */
}

.booklist li{
  margin: 10px;
}

.search-input-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 80%;
  max-width: 80%;
  margin-top: 5px;
  margin-bottom: 10px;
}


.search{
  border: none;
  background: none;
  font-size: var(--placeholder-text-size);
  max-width: 60%;
  border-bottom: 1px solid white;
  color: white;
}

.search::placeholder{
  font-family: 'Astaroth', Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  vertical-align: middle;
}

.search-button{
  border: 1px white;
  border-style: solid;
  background: none;
  color: white;
  font-size: var(--base-text-size);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Astaroth', Georgia, 'Times New Roman', Times, serif;
}

.search-results-container{
  width: 100%;
  height: 100%;
  /* background-color: black; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-menu{
  text-align: center;
  font-family: 'Astaroth', Georgia, 'Times New Roman', Times, serif;
  font-size: var(--placeholder-text-size);
  min-width: 100%;
  max-width: 100%;
  max-height: 20%;
  color: white;

  margin-top: 10px;
  border-color:  white;

  display: flex;
  justify-content: space-evenly;
  align-content: center;
}

.home{
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  min-width: 40%;
  max-width: 45%;
}

.search-again{
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  min-width: 40%;
  max-width: 45%;
}

.results{
  min-height: 80%;
  max-height: 80%;
  min-width: 100%;
  background: none;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-title{
  margin-top: 10px;
  min-width: 100%;
  text-align: center;
  font-family: 'Astaroth';
  font-size: var(--placeholder-text-size);
}

.text-result{
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  min-height: 30%;
  max-height: 30%;
  color: rgb(27, 21, 1);
  padding: 10px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  text-align: justify;
  overflow-y: hidden;
  box-shadow: 1px 1px 1px black;
  background: url('https://res.cloudinary.com/diujqlncs/image/upload/v1614460708/rotated_paper_xzteyt.png') no-repeat center center fixed; 
}

.text-modal{
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 0, 10, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-modal-background{
  position: fixed;
  z-index: 51;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.selected-text{
  z-index: 52;
  background: url('https://res.cloudinary.com/diujqlncs/image/upload/v1614459631/d7395358fcd0b0c671bd0ae05b5ba5eb_ubdxvq.jpg') no-repeat center center fixed; 
  color: black;
  min-height: 80%;
  max-height: 80%;
  max-width: 90%;
  min-width: 90%;
  padding: 30px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 20px;
}

.back-to-results-button{
  background: none;
  border: none;
  font-family: 'Astaroth';
  font-size: var(--placeholder-text-size);
}

.raw-selected-text{
  text-align: justify;
  text-indent: 30px;
}

.query-text{
  color: red;
}

.aws-amplify{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Astaroth';
  font-size: var(--placeholder-text-size);
  height: 100%;
  min-width: 100%;
}

.no-results-modal{
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  background-color: rgba(10, 0, 10, 0.8);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  max-width: 100%;
  min-height: 20%;
  max-height: 20%;
  
}

.no-results-text{
  text-align: center;
  color: white;
  font-family: 'Astaroth';
  font-size: var(--placeholder-text-size);
}

.show {
  transition: opacity 0.5s;
  opacity: 1;
}

.hide {
  opacity: 0;
  pointer-events:none;
}

@media (min-width: 1100px){
  .booklist{
    flex-direction: row;
    flex-wrap: wrap;
  }

  .books{
    overflow: hidden;
  }
}